/* Réinitialisation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page entière */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #dff5df, #bfe8bf);
    min-height: 100vh; /* prend toute la hauteur de l'écran */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Conteneur principal */
.container {
    background: rgba(255, 255, 255, 0.95);
    max-width: 900px;
    width: 100%;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
    text-align: center;
}

/* Titre */
h1 {
    font-size: 2em;
    color: #2e7d32;
    margin-bottom: 30px;
}

/* Description */
.description {
    font-size: 1.3em;
    line-height: 1.8;
    color: #444;
    margin-bottom: 40px;
}

/* Zone des boutons */
.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Boutons */
.btn {
    display: block;
    background: #4caf50;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 12px;
    transition: all 0.3s ease;
    box-shadow: 0 6px 15px rgba(76, 175, 80, 0.3);
}

.btn:hover {
    background: #388e3c;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(76, 175, 80, 0.4);
}

/* Adaptation mobile */
@media (max-width: 768px) {
    .container {
        padding: 30px 20px;
    }

    h1 {
        font-size: 1em;
    }

    .description {
        font-size: 0,8em;
    }

    .btn {
        font-size: 0,8em;
        padding: 10px 20px;
    }
}